@{
    ViewData["Title"] = "Políticas";
}
<!--<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>-->

<h2>Políticas de Privacidade</h2>

<p>Este aplicativo requer a utilização da câmera, localização e audio do seu dispositivo.</p>

<!--<p>Use this area to provide additional information.</p>-->
