@{
    ViewData["Title"] = "Contact";
}

<div class="container ">
    <div class="">                
        <div class="centralizar navbar navbar-expand-lg navbar-light bg-info">
            <h1>Contato</h1>
        </div>

        <br />
        <br />


        <div class="imgApresentacao">
            <img src="~/images/contato-telefone.svg" class="img-responsive imgApresentacao" />
        </div>

        

        <br />
        <br />
        <br />

        <div class="centralizar2">
            <h4>
                <!--
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

        -->


                <address> <h2> Entre em contato agora mesmo e nos envie um incidente. </h2> </address>

                <br />
                <br />

                <address>
                    <strong>Email:</strong> <a href="cooperacity@gmail.com">cooperacity@gmail.com</a><br /><br />
                    <strong>WhatsApp:</strong> <a href="mailto:cooperacity@gmail.com">+55 (16) 12345-1234</a><br /><br />
                    <strong>Skype:</strong> cooperacity <br /><br />
                    <strong>Telefone:</strong> (16) 1111-1111 <br /><br />
                    <strong>Ligação Gratuíta:</strong> 1111 111 1111
                </address>

            


            </h4>
        </div>



        <link rel="stylesheet" href="~/css/dev.css" />


    </div>
</div>

<style>
    .centralizar {
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #222;
        color: rgb(255,255,255);
        border-radius: 50px;
    }

    .centralizar2 {
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .centerFormContact {
        margin: 0 auto;
        width: 50%;
        height: 50%;
        margin-top: 5%;
    }

    .imgApresentacao {
        height: 288.59px;
        width: 100%;
    }
</style>





