@{
    ViewData["Title"] = "Home Page";
}

<br />



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/spam.jpg" alt="ASP.NET" class="img-responsive imagemIndex" />
        </div>
    </div>
</div>

<br />
<br />
<br />

<div class="container">
    <div class="conteudoIndex">

        <div class="row">

            <!--
            <div class="col-md-4">
                <img class="img-responsive iconeTexto" src="~/images/lampada.jpg" />
                <h2>Ideias Inovadoras</h2>
                <div>
                    <p>Podemos projetar seu site e apresentar-lhe ao mundo web, através de soluções inteligentes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive iconeTexto" src="~/images/lampada.jpg" />
                <h2>Novas Oportunidades</h2>
                <div>
                    <p>O nosso trabalho e nossos projetos são sob medida e podem se adaptar conforme as necessidades do cliente.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive iconeTexto" src="~/images/lampada.jpg" />
                <h2>Nuvem Network</h2>
                <div>
                    <p>Nós temos a rede que você precisa. Juntos podemos nos tralhabar com o direcionamento e foco e assim levar o seu negócio às alturas.</p>
                </div>
            </div>
            -->
            <div class="col-md-4">
                <img class="img-responsive iconeTexto" src="~/images/satisfacao.png" />
                <h2>Liberdade Digital</h2>
                <div>
                    <p>Realize suas reclamações para que possamos melhorar baseado em seu feedback.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive iconeTexto" src="~/images/compra rapida.png" />
                <h2>Agilidade na Resolução</h2>
                <div>
                    <p>Ajude outras pessoas apresentando problemas e possíveis soluções, assim agilizamos a resolução.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive iconeTexto" src="~/images/seguro.png" />
                <h2>Site Seguro</h2>
                <div>
                    <p>Suas denuncias com total discrição e seus dados sempre protegidos.</p>
                </div>
            </div>
            <div class="col-md-12"></div>
            <br />
            <br />
            <div class="col-md-12"></div>
            <div class="col-md-4">
                <img class="img-responsive iconeTexto" src="~/images/lampada.jpg" />
                <h2>Tecnologias de Ponta</h2>
                <div>
                    <p>Os nossos serviços usam as tecnologias mais quentes do mercado. Isso tudo a sua disposição.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive iconeTexto" src="~/images/lampada.jpg" />
                <h2>Alta Qualidade</h2>
                <div>
                    <p>Faça suas reclamações de maneira simples, em instantes, e sem burocracia.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive iconeTexto" src="~/images/lampada.jpg" />
                <h2>Fique em Contato</h2>
                <div>
                    <p>Nossa equipe é aberta a novas idéias e sugestões para novas soluções de benefício social.</p>
                </div>
            </div>
        </div>



    </div>
